body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
}

.head-img {
    
}

#id-profile {
    color: #ccc;
}

#id-cashout {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hide {
    display:none;
}

.hl {
    border: solid 1px green;
}

.table th, .table td {
    text-align: center;
}

.head-thumbnail {
    width: 28%;
}

.warning {
    padding-top: 10px;
    color: red;
}

.cash-display {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
}

.number-display {
    display: inline-block;
}


.left {
    float: left;
}
.right {
    float: right;
}

.verifycode-input-box {
    z-index: 1;
    width: 70%;
}

.cashout-input {
    width: 100%;
    margin-top: 10px;
}

.cashout-number-input {
    width: 100%;
    border-radius: 4px;
}

.submit-button {
    margin-top: 20px;
    text-align: center;
}

.xlmm-orange {
    color: #faac14;
}

.xlmm-annotate {
    font-size: 12px;
    color: #4a4a4a;
}

.xlmm-carry {
    text-align:center;
    font-size:28px;
}

.xlmm-cash {
    font-size: 20px;
}

.cash-display {
    display: inline-block;
    float: left;
}

.carry-display {
    display: inline-block;
    float:right;
}

.attender-row {
    height: 60px;
    margin-bottom:10px;
}

.duplicate {
    color:#D1D0CE;
}

.attender-left {
    height: 100%;
    width: 28%;
    display: inline-block;
    vertical-align:top;
}

.attender-middle {
    height:100%;
    width: 50%;
    display: inline-block;
    vertical-align:top;
}

.attender-right {
    height:100%;
    width: 20%;
    display: inline-block;
    vertical-align:top;
}

.attender-name {
    margin-top:10px;
    width:120px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}

.signup-status {
    margin-top:10px;
}

.course-time {
    width: 60%;
    display: inline-block;
    padding-left: 5px;
}

.signup-number {
    width: 38%;
    display: inline-block;
    text-align: right;
    float: right;
    padding-right:5px;
}

.notice {
    margin-top:50px;
    text-align:center;
}