.act-0405-time {
	width: 76%;
	height: 70px;
	margin-left: 12%;
	background-image: URL(../img/act-0405-6.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.time{
	color: #fff;
	line-height: 48px;
	margin-top: 6%;
	padding-left: 8%;
}

.act-0405-time img {
	margin-top: 8px;
	width: 40%;
}

.act-0405-rules {
	width: 100%;
}
.act-0405-detail {
	width: 100%;
	margin-bottom: 40px;
}
.act-0405-copyright p {
	text-align: center;
	font-size: 12px;
	color: #EC5BA8;
	margin-top: 40px;
}