body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
}

.coupon-number {
    font-size: 36px;
    color: #f0ad4e;
}

#id-container {
    padding-top:20px;
}

#id-record-list {
    margin-top:16px;
}

#id-place-order {
    margin-top:16px;
}

.account-profile {
    text-align: center;
}

.deeppink {
    color: #FF1493;
}

.hide {
    display:none;
}

.hl {
    border: solid 1px green;
}

.hl-red {
    border: solid 1px red;
}

.head-thumbnail {
    width: 28%;
}

.warning {
    padding-top: 10px;
    color: red;
}

.number-display {
    display: inline-block;
}

.record-row {
    height: 60px;
    margin-bottom:10px;
    width:100%;
}

.record-status {
    padding-top:0px;
}

.record-left {
    height: 80%;
    width: 20%;
    display: inline-block;
    vertical-align:top;
}

.record-middle-left {
    height:100%;
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-left:6px;
}

.record-middle-right {
    height:100%;
    width: 18%;
    display: inline-block;
    text-align: center;
    padding-top:10px;
}

.record-right {
    width: 28%;
    display: inline-block;
    text-align: center;
    vertical-align: text-bottom;
}

.record-name {
    margin-top:10px;
    width:120px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}

.signup-status {
    margin-top:10px;
}

.course-time {
    width: 60%;
    display: inline-block;
    padding-left: 5px;
}

.signup-number {
    width: 38%;
    display: inline-block;
    text-align: right;
    float: right;
    padding-right:5px;
}

.notice {
    margin-top:50px;
    text-align:center;
}